<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>platform web app v1.0.0</display-name>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>/index.html</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>crossOriginFilter</filter-name>
    <filter-class>com.zlp.platform.common.filter.CrossOriginFilter</filter-class>
    <init-param>
      <param-name>whiteList</param-name>
      <param-value>http://localhost:8081;http://localhost:8080;http://localhost:8280;</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>crossOriginFilter</filter-name>
    <url-pattern>/appUserNcpService/*</url-pattern>
    <url-pattern>/dataNcpService/*</url-pattern>
    <url-pattern>/mtlNcpService/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/web/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>refreshSessionExpireFilter</filter-name>
    <filter-class>com.zlp.platform.common.filter.RefreshSessionExpireFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>refreshSessionExpireFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <error-page>
    <exception-type>com.zlp.platform.common.NcpNonePurviewException</exception-type>
    <location>/web/user/purviewError.jsp</location>
  </error-page>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>WEB-INF/classes/spring.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.zlp.platform.common.listener.ApplicationListener</listener-class>
  </listener>
  <filter>
    <filter-name>commonFilter</filter-name>
    <filter-class>com.zlp.platform.common.filter.CommonFilter</filter-class>
  </filter>
  <filter>
    <filter-name>checkLogin</filter-name>
    <filter-class>com.zlp.platform.common.filter.CheckLoginFilter</filter-class>
  </filter>
  <filter>
    <filter-name>checkConvertLogin</filter-name>
    <filter-class>com.zlp.platform.common.filter.CheckConvertLoginFilter</filter-class>
  </filter>
  <filter>
    <filter-name>checkPagePurview</filter-name>
    <filter-class>com.zlp.platform.common.filter.CheckPagePurviewFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>checkPagePurview</filter-name>
    <url-pattern>/web/sa/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>checkLogin</filter-name>
    <url-pattern>/web/user/index.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>checkConvertLogin</filter-name>
    <url-pattern>/web/convert/rvt/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>checkLogin</filter-name>
    <url-pattern>/web/user/m_index.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>checkPagePurview</filter-name>
    <url-pattern>/web/admin/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>commonFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet-mapping>
    <servlet-name>getCMSImage</servlet-name>
    <url-pattern>/cms/getCMSImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getCMSImage</servlet-name>
    <servlet-class>com.zlp.cms.service.GetImage</servlet-class>
  </servlet>

  <!-- resImage -->
  <servlet-mapping>
    <servlet-name>getResImage</servlet-name>
    <url-pattern>/res/getResImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getResImage</servlet-name>
    <servlet-class>com.zlp.external.resource.image.service.GetImage</servlet-class>
  </servlet>

  <!-- 获取gltfZip modified by ls 20231101 -->
  <servlet-mapping>
    <servlet-name>getGltf</servlet-name>
    <url-pattern>/resource/getGltf</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getGltf</servlet-name>
    <servlet-class>com.zlp.external.resource.gltfZip.service.GetGltf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getBin</servlet-name>
    <url-pattern>/resource/getBin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getBin</servlet-name>
    <servlet-class>com.zlp.external.resource.gltfZip.service.GetBin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getGltfZip</servlet-name>
    <url-pattern>/resource/getGltfZip</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getGltfZip</servlet-name>
    <servlet-class>com.zlp.external.resource.gltfZip.service.GetGltfZip</servlet-class>
  </servlet>


  <!-- 获取fbxZip modified by ls 20240112 -->
  <servlet-mapping>
    <servlet-name>getFbxZip</servlet-name>
    <url-pattern>/resource/getFbxZip</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getFbxZip</servlet-name>
    <servlet-class>com.zlp.external.resource.fbxZip.service.GetFbxZip</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getFbxImg</servlet-name>
    <url-pattern>/resource/getFbxImg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getFbxImg</servlet-name>
    <servlet-class>com.zlp.external.resource.fbxZip.service.GetFbxImg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getFbx</servlet-name>
    <url-pattern>/resource/getFbx</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getFbx</servlet-name>
    <servlet-class>com.zlp.external.resource.fbxZip.service.GetFbx</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>UploadFile</servlet-name>
    <servlet-class>com.zlp.platform.service.UploadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFile</servlet-name>
    <url-pattern>/accessory/uploadFile</url-pattern>
  </servlet-mapping>

  <!-- s3d应用上传图片 -->
  <servlet>
    <servlet-name>s3dUploadImageFile</servlet-name>
    <servlet-class>com.zlp.s3d.service.S3dUploadImageFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s3dUploadImageFile</servlet-name>
    <url-pattern>/s3d/s3dUploadImageFile</url-pattern>
  </servlet-mapping>

  <!-- s3d应用上传构件模型 -->
  <servlet>
    <servlet-name>s3dUploadComponentLocalFile</servlet-name>
    <servlet-class>com.zlp.s3d.service.S3dUploadComponentLocalFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s3dUploadComponentLocalFile</servlet-name>
    <url-pattern>/s3d/s3dUploadComponentLocalFile</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetImage</servlet-name>
    <servlet-class>com.zlp.platform.service.GetImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetImage</servlet-name>
    <url-pattern>/accessory/getImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createValidateCodeServlet</servlet-name>
    <servlet-class>com.zlp.platform.common.validatecode.CreateValidateCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createValidateCodeServlet</servlet-name>
    <url-pattern>/createValidateCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkValidateCodeServlet</servlet-name>
    <servlet-class>com.zlp.platform.common.validatecode.CheckValidateCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkValidateCodeServlet</servlet-name>
    <url-pattern>/checkValidateCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getPicture</servlet-name>
    <servlet-class>com.zlp.mdl.service.GetPicture</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getPicture</servlet-name>
    <url-pattern>/pictures/getPicture</url-pattern>
  </servlet-mapping>

  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>ncp.root</param-value>
  </context-param>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>/WEB-INF/classes/system.properties</param-value>
  </context-param>
  <context-param>
    <param-name>log4jRefreshInterval</param-name>
    <param-value>60000</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
</web-app>
